<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Abre e chega o botão para essa pagina
    </button>
  </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
         Sempre crescer e desenvolver para r voluir aidna mais, aprimorando na eovlução cirateriosa, do aprendizado num estudo evolutivo, aperfeiçoadom, sempre estudando e fazendo nossa parte, quanto mais estuda melhor somos
      </div>
    </div>
  </div>
  <img [src]="imagemUrl" [alt]="imagemAlt">
  <hr/>
  <app-footer></app-footer>