<div class="container mt-5">
    <h2>Cadastro de Empresa</h2>
    <form>
      <div class="form-group">
        <label for="NomeEmpresa">Nome do Empresa</label>
        <input type="text" class="form-control" id="NomeEmpresa" placeholder="Digite seu nome da Empresa">
      </div>
      <div class="form-group">
        <label for="Cnpj">Cnpj</label>
        <input type="text" class="form-control" id="Cnpj" placeholder="Digite seu Cnpj">
      </div>
      <div class="form-group">
        <label for="Setor">Setor</label>
        <input type="text" class="form-control" id="Setor" placeholder="Digite seu Setor">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <app-footer></app-footer>
  </div>