<div class="container mt-5">
    <h2>Cadastro de Cliente</h2>
    <form>
      <div class="form-group">
        <label for="NomeEmpresa">Nome do Cliente</label>
        <input type="text" class="form-control" id="NomeCliente" placeholder="Digite seu nome do Cliente">
      </div>
      <div class="form-group">
        <label for="Setor">Setor</label>
        <input type="text" class="form-control" id="Setor" placeholder="Digite seu Setor">
      </div>
      <div class="form-group">
        <label for="Tipo">Tipo</label>
        <input type="text" class="form-control" id="Tipo" placeholder="Digite seu Tipo">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <app-footer></app-footer>
  </div>